<% content_for :title, "Search Results" %>

<h3>Search Results</h3>
<%= form_tag url_for(:controller => :search, :action => :results), :method => :get do %>
  <div class="field input-group">
    <%= text_field_tag 'q', nil, :placeholder => "type your search term here...", :class => "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag 'Search', :class => "btn btn-success" %>
    </span>
  </div>
<% end %>

<hr />

<% @results.each do |r| %>
  <% render 'recipes/minified', :recipe => r %>
<% end %>

<hr />

<div class="text-center">
  <% will_paginate @results, renderer: BootstrapPagination::Rails %>
</div>
