<% content_for :title, "Forbidden" %>

<h3>Forbidden</h3>
<p>You were denied access to the resource you requested. This is usually because you do not have the required permissions
  to access the page.</p>
