<% content_for :title, "Internal Server Error" %>

<h3>Internal Server Error</h3>
<p>The server encountered an error while processing your request and has terminated the request without completing. This
  error has been reported to the site administrator.</p>
