<% content_for :title, "Not Found" %>

<h3>Not Found</h3>
<p>The resource you requested could not be found. You may have typed the address incorrectly, followed a dead link, or
  the resource may have been deleted.</p>
