// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  border-bottom: 1px solid #CCC;
  border-left: 3px solid #CCC;
  margin: 5px;
  padding: 5px;
}
