// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-description {
  margin: 15px 5px;
}

.detail-unit {
  margin: 5px 10px;
}

.recipe-minified {
  padding: 10px;
}

.text-details {
  max-width: 70%;
}

.meta-details {
  max-width: 25%;
}

.feature-recipe {
  margin: 5px;
}

.feature-detail {
  margin: 5px 10px;
}
