// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-title a {
  color: #BF1E2D;
}

.user-stats {
  padding: 5px;
}

.stat-detail {
  margin: 5px 10px;
}
