<div class="col-sm-3 col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><%= link_to category.name, url_for(:controller => :categories, :action => :show, :id => category.id) %></h4>
    </div>
    <div class="panel-body">
      <p><%= category.description %></p>
      <p><span class="glyphicon glyphicon-list-alt"></span> <%= category.recipes.count %> recipes</p>
    </div>
  </div>
</div>
