<% content_for :title, "Categories" %>

<h3>Categories</h3>
<% @categories.in_groups_of(4) do |group| %>
  <div class="row clearfix">
    <% group.each do |c| %>
      <%= render 'categories/category', :category => c unless c.nil? %>
    <% end %>
  </div>
<% end %>

<p>
  <%= link_to url_for(:controller => :categories, :action => :new) do %>
    <span class="glyphicon glyphicon-plus"></span> Create a new category
  <% end %>
</p>

<div class="text-center">
  <%= will_paginate @categories, renderer: BootstrapPagination::Rails %>
</div>
